<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dieresis.case</key>
  <string>dieresis.case.glif</string>
  <key>dollar_greater.liga</key>
  <string>dollar_greater.liga.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less_dollar.liga</key>
  <string>less_dollar.liga.glif</string>
  <key>less_dollar_greater.liga</key>
  <string>less_dollar_greater.liga.glif</string>
  <key>less_greater.liga</key>
  <string>less_greater.liga.glif</string>
  <key>less_hyphen.liga</key>
  <string>less_hyphen.liga.glif</string>
  <key>less_hyphen_hyphen.liga</key>
  <string>less_hyphen_hyphen.liga.glif</string>
  <key>less_hyphen_less.liga</key>
  <string>less_hyphen_less.liga.glif</string>
  <key>less_less_equal.liga</key>
  <string>less_less_equal.liga.glif</string>
  <key>less_less_hyphen.liga</key>
  <string>less_less_hyphen.liga.glif</string>
  <key>less_slash.liga</key>
  <string>less_slash.liga.glif</string>
  <key>less_slash_greater.liga</key>
  <string>less_slash_greater.liga.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>slash_equal.liga</key>
  <string>slash_equal.liga.glif</string>
  <key>slash_equal_equal.liga</key>
  <string>slash_equal_equal.liga.glif</string>
  <key>slash_greater.liga</key>
  <string>slash_greater.liga.glif</string>
  <key>uni0123</key>
  <string>uni0123.glif</string>
  <key>uni0416</key>
  <string>uni0416.glif</string>
  <key>uni0424</key>
  <string>uni0424.glif</string>
  <key>uni0428</key>
  <string>uni0428.glif</string>
  <key>uni0429</key>
  <string>uni0429.glif</string>
  <key>uni042A</key>
  <string>uni042A_.glif</string>
  <key>uni042C</key>
  <string>uni042C_.glif</string>
  <key>uni042E</key>
  <string>uni042E_.glif</string>
  <key>uni042F</key>
  <string>uni042F_.glif</string>
  <key>uni0434</key>
  <string>uni0434.glif</string>
  <key>uni0436</key>
  <string>uni0436.glif</string>
  <key>uni043A</key>
  <string>uni043A_.glif</string>
  <key>uni043C</key>
  <string>uni043C_.glif</string>
  <key>uni0444</key>
  <string>uni0444.glif</string>
  <key>uni0447</key>
  <string>uni0447.glif</string>
  <key>uni044E</key>
  <string>uni044E_.glif</string>
  <key>uni044F</key>
  <string>uni044F_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
