<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>M</key>
  <string>M_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>less_dollar.liga</key>
  <string>less_dollar.liga.glif</string>
  <key>less_greater.liga</key>
  <string>less_greater.liga.glif</string>
  <key>less_slash_greater.liga</key>
  <string>less_slash_greater.liga.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>shade</key>
  <string>shade.glif</string>
  <key>slash_greater.liga</key>
  <string>slash_greater.liga.glif</string>
  <key>uni0427</key>
  <string>uni0427.glif</string>
  <key>uni043C</key>
  <string>uni043C_.glif</string>
  <key>uni0447</key>
  <string>uni0447.glif</string>
  <key>uni23FE</key>
  <string>uni23F_E_.glif</string>
  <key>uniE0B0</key>
  <string>uniE_0B_0.glif</string>
  <key>uniE0B3</key>
  <string>uniE_0B_3.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>y</key>
  <string>y.glif</string>
</dict>
</plist>
