<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>isFixedPitch</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Enforce Compatibility Check</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Variable Font Origin</string>
			<key>value</key>
			<string>03C02FE7-7458-4762-A27C-0F6E25AC479F</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Variable Font Family Name</string>
			<key>value</key>
			<string>JetBrains Mono Variable Italic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Variable Font File Name</string>
			<key>value</key>
			<string>JetBrainsMono-Variable-Italic</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>03C02FE7-7458-4762-A27C-0F6E25AC479F</key>
			<dict>
				<key>HH</key>
				<integer>82</integer>
				<key>HV</key>
				<integer>92</integer>
				<key>OH</key>
				<integer>80</integer>
				<key>OV</key>
				<integer>90</integer>
				<key>nV</key>
				<integer>90</integer>
				<key>oH</key>
				<integer>80</integer>
				<key>oV</key>
				<integer>90</integer>
				<key>tH</key>
				<integer>82</integer>
			</dict>
			<key>681EDAF7-11DB-44DD-9204-6ED8688B749D</key>
			<dict>
				<key>HH</key>
				<integer>140</integer>
				<key>HV</key>
				<integer>150</integer>
				<key>OH</key>
				<integer>130</integer>
				<key>OV</key>
				<integer>150</integer>
				<key>nV</key>
				<integer>150</integer>
				<key>oH</key>
				<integer>130</integer>
				<key>oV</key>
				<integer>150</integer>
				<key>tH</key>
				<integer>135</integer>
			</dict>
			<key>76E9374A-352D-4379-9771-A49E7E8AA0DC</key>
			<dict>
				<key>HH</key>
				<integer>45</integer>
				<key>HV</key>
				<integer>50</integer>
				<key>OH</key>
				<integer>44</integer>
				<key>OV</key>
				<integer>50</integer>
				<key>nV</key>
				<integer>50</integer>
				<key>oH</key>
				<integer>44</integer>
				<key>oV</key>
				<integer>50</integer>
				<key>tH</key>
				<integer>45</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>underlinePosition</string>
			<key>value</key>
			<integer>-120</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>underlineThickness</string>
			<key>value</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>TTFZones</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>zone 0</string>
					<key>position</key>
					<integer>830</integer>
					<key>size</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>capHeight</string>
					<key>position</key>
					<integer>730</integer>
					<key>size</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>xHeight</string>
					<key>position</key>
					<integer>550</integer>
					<key>size</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>baseline</string>
					<key>position</key>
					<integer>0</integer>
					<key>size</key>
					<integer>-10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>zone 4</string>
					<key>position</key>
					<integer>-110</integer>
					<key>size</key>
					<integer>-10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>zone 5</string>
					<key>position</key>
					<integer>-180</integer>
					<key>size</key>
					<integer>-10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>zone 7</string>
					<key>position</key>
					<integer>1085</integer>
					<key>size</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>zone 8</string>
					<key>position</key>
					<integer>-270</integer>
					<key>size</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Master Icon Glyph Name</string>
			<key>value</key>
			<string>T</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>76E9374A-352D-4379-9771-A49E7E8AA0DC</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Thin</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>G</string>
		<string>uni01F4</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E9E</string>
		<string>uni018F</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>IJ</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>f</string>
		<string>g</string>
		<string>uni01F5</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>a.alt</string>
		<string>ij</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0402</string>
		<string>uni04AE</string>
		<string>uni04E8</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0452</string>
		<string>uni04AF</string>
		<string>uni04E9</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>pi</string>
		<string>uni2115</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.alt</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>uni2070</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>onedotenleader</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>uni2010</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>hyphen_hyphen.liga</string>
		<string>hyphen_hyphen_hyphen.liga</string>
		<string>hyphen_hyphen_greater.liga</string>
		<string>hyphen_bar.liga</string>
		<string>hyphen_greater.liga</string>
		<string>hyphen_greater_greater.liga</string>
		<string>hyphen_less.liga</string>
		<string>hyphen_less_less.liga</string>
		<string>hyphen_asciitilde.liga</string>
		<string>braceleft_bar.liga</string>
		<string>bracketleft_bar.liga</string>
		<string>bracketleft_bar_bar_bracketright.liga</string>
		<string>bracketleft_less.liga</string>
		<string>bracketright_numbersign.liga</string>
		<string>period_hyphen.liga</string>
		<string>period_period.liga</string>
		<string>period_period_period.liga</string>
		<string>period_period_less.liga</string>
		<string>period_question.liga</string>
		<string>period_equal.liga</string>
		<string>colon_colon.liga</string>
		<string>colon_colon_colon.liga</string>
		<string>colon_colon_equal.liga</string>
		<string>colon_question.liga</string>
		<string>colon_question_greater.liga</string>
		<string>colon_equal.liga</string>
		<string>colon_greater.liga</string>
		<string>colon_less.liga</string>
		<string>semicolon_semicolon.liga</string>
		<string>exclam_exclam.liga</string>
		<string>exclam_equal.liga</string>
		<string>exclam_equal_equal.liga</string>
		<string>question_period.liga</string>
		<string>question_colon.liga</string>
		<string>question_question.liga</string>
		<string>question_equal.liga</string>
		<string>asterisk_asterisk_asterisk.liga</string>
		<string>asterisk_greater.liga</string>
		<string>asterisk_slash.liga</string>
		<string>numbersign_parenleft.liga</string>
		<string>numbersign_braceleft.liga</string>
		<string>numbersign_bracketleft.liga</string>
		<string>numbersign_colon.liga</string>
		<string>numbersign_exclam.liga</string>
		<string>numbersign_question.liga</string>
		<string>numbersign_numbersign.liga</string>
		<string>numbersign_numbersign_numbersign.liga</string>
		<string>numbersign_numbersign_numbersign_numbersign.liga</string>
		<string>numbersign_equal.liga</string>
		<string>numbersign_underscore.liga</string>
		<string>numbersign_underscore_parenleft.liga</string>
		<string>slash_asterisk.liga</string>
		<string>slash_equal.liga</string>
		<string>slash_equal_equal.liga</string>
		<string>slash_greater.liga</string>
		<string>slash_slash.liga</string>
		<string>slash_slash_equal.liga</string>
		<string>slash_slash_slash.liga</string>
		<string>underscore_bar_underscore.liga</string>
		<string>underscore_underscore.liga</string>
		<string>uni27E8</string>
		<string>uni27E9</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>uniFEFF</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>Euro</string>
		<string>florin</string>
		<string>uni20BD</string>
		<string>sterling</string>
		<string>uni20AE</string>
		<string>yen</string>
		<string>uni2219</string>
		<string>uni2210</string>
		<string>uni2223</string>
		<string>uni2215</string>
		<string>element</string>
		<string>equivalence</string>
		<string>existential</string>
		<string>uni2249</string>
		<string>uni220C</string>
		<string>notelement</string>
		<string>notsubset</string>
		<string>uni2285</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>logicaland</string>
		<string>logicalor</string>
		<string>integral</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>uni00B5</string>
		<string>uni2225</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>uni207A</string>
		<string>uni2237</string>
		<string>reflexsubset</string>
		<string>reflexsuperset</string>
		<string>similar</string>
		<string>propersubset</string>
		<string>suchthat</string>
		<string>propersuperset</string>
		<string>universal</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni2581</string>
		<string>uni2582</string>
		<string>uni2583</string>
		<string>dnblock</string>
		<string>uni2585</string>
		<string>uni2586</string>
		<string>uni2587</string>
		<string>block</string>
		<string>upblock</string>
		<string>uni2594</string>
		<string>uni258F</string>
		<string>uni258E</string>
		<string>uni258D</string>
		<string>lfblock</string>
		<string>uni258B</string>
		<string>uni258A</string>
		<string>uni2589</string>
		<string>rtblock</string>
		<string>uni2595</string>
		<string>uni2596</string>
		<string>uni2597</string>
		<string>uni2598</string>
		<string>uni2599</string>
		<string>uni259A</string>
		<string>uni259B</string>
		<string>uni259C</string>
		<string>uni259D</string>
		<string>uni259E</string>
		<string>uni259F</string>
		<string>ltshade</string>
		<string>shade</string>
		<string>dkshade</string>
		<string>uni25CF</string>
		<string>uni25C6</string>
		<string>lozenge</string>
		<string>filledbox</string>
		<string>triagup</string>
		<string>uni25B6</string>
		<string>triagdn</string>
		<string>uni25C0</string>
		<string>uni2566</string>
		<string>uni2557</string>
		<string>uni2554</string>
		<string>uni2550</string>
		<string>uni2569</string>
		<string>uni255D</string>
		<string>uni255A</string>
		<string>uni2551</string>
		<string>uni256C</string>
		<string>uni2563</string>
		<string>uni2560</string>
		<string>uni2565</string>
		<string>uni2556</string>
		<string>uni2553</string>
		<string>uni2530</string>
		<string>uni2512</string>
		<string>uni2527</string>
		<string>uni250E</string>
		<string>uni251F</string>
		<string>uni2541</string>
		<string>uni252F</string>
		<string>uni2511</string>
		<string>uni2529</string>
		<string>uni250D</string>
		<string>uni2521</string>
		<string>uni2547</string>
		<string>uni2564</string>
		<string>uni2555</string>
		<string>uni2552</string>
		<string>uni254D</string>
		<string>uni254F</string>
		<string>uni257B</string>
		<string>uni2533</string>
		<string>uni2513</string>
		<string>uni250F</string>
		<string>uni2501</string>
		<string>uni2578</string>
		<string>uni257E</string>
		<string>uni2509</string>
		<string>uni250B</string>
		<string>uni257A</string>
		<string>uni2505</string>
		<string>uni2507</string>
		<string>uni2579</string>
		<string>uni253B</string>
		<string>uni251B</string>
		<string>uni257F</string>
		<string>uni2517</string>
		<string>uni2503</string>
		<string>uni254B</string>
		<string>uni252B</string>
		<string>uni2523</string>
		<string>uni2545</string>
		<string>uni252D</string>
		<string>uni2535</string>
		<string>uni253D</string>
		<string>uni2532</string>
		<string>uni253A</string>
		<string>uni254A</string>
		<string>uni2543</string>
		<string>uni256E</string>
		<string>uni256D</string>
		<string>uni256F</string>
		<string>uni2570</string>
		<string>uni2573</string>
		<string>uni2572</string>
		<string>uni2571</string>
		<string>uni254C</string>
		<string>uni254E</string>
		<string>uni2577</string>
		<string>uni252C</string>
		<string>uni2510</string>
		<string>uni250C</string>
		<string>uni2500</string>
		<string>uni2574</string>
		<string>uni257C</string>
		<string>uni2508</string>
		<string>uni250A</string>
		<string>uni2576</string>
		<string>uni2504</string>
		<string>uni2506</string>
		<string>uni2575</string>
		<string>uni257D</string>
		<string>uni2534</string>
		<string>uni2518</string>
		<string>uni2514</string>
		<string>uni2502</string>
		<string>uni253C</string>
		<string>uni2524</string>
		<string>uni251C</string>
		<string>uni2546</string>
		<string>uni252E</string>
		<string>uni2536</string>
		<string>uni253E</string>
		<string>uni2531</string>
		<string>uni2539</string>
		<string>uni2549</string>
		<string>uni2544</string>
		<string>uni2568</string>
		<string>uni255C</string>
		<string>uni2559</string>
		<string>uni2540</string>
		<string>uni2538</string>
		<string>uni2526</string>
		<string>uni251A</string>
		<string>uni251E</string>
		<string>uni2516</string>
		<string>uni2548</string>
		<string>uni2537</string>
		<string>uni252A</string>
		<string>uni2519</string>
		<string>uni2522</string>
		<string>uni2515</string>
		<string>uni2567</string>
		<string>uni255B</string>
		<string>uni2558</string>
		<string>uni256B</string>
		<string>uni2562</string>
		<string>uni255F</string>
		<string>uni2542</string>
		<string>uni2528</string>
		<string>uni2520</string>
		<string>uni253F</string>
		<string>uni2525</string>
		<string>uni251D</string>
		<string>uni256A</string>
		<string>uni2561</string>
		<string>uni255E</string>
		<string>uni2374</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>minute</string>
		<string>second</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>uni2113</string>
		<string>daggerdbl</string>
		<string>uni2116</string>
		<string>estimated</string>
		<string>uni23FB</string>
		<string>uni23FC</string>
		<string>uni2B58</string>
		<string>uni23FD</string>
		<string>uni23FE</string>
		<string>uni02F3</string>
		<string>uni02F7</string>
		<string>at_underscore.liga</string>
		<string>ampersand_ampersand.liga</string>
		<string>ampersand_ampersand_ampersand.liga</string>
		<string>ampersand_equal.liga</string>
		<string>bar_hyphen.liga</string>
		<string>bar_hyphen_greater.liga</string>
		<string>bar_braceright.liga</string>
		<string>bar_bracketright.liga</string>
		<string>bar_bar.liga</string>
		<string>bar_bar_hyphen.liga</string>
		<string>bar_bar_bar.liga</string>
		<string>bar_bar_bar_greater.liga</string>
		<string>bar_bar_equal.liga</string>
		<string>bar_bar_greater.liga</string>
		<string>bar_equal.liga</string>
		<string>bar_equal_greater.liga</string>
		<string>bar_greater.liga</string>
		<string>dollar_greater.liga</string>
		<string>plus_plus.liga</string>
		<string>plus_plus_plus.liga</string>
		<string>plus_greater.liga</string>
		<string>equal_colon_equal.liga</string>
		<string>equal_exclam_equal.liga</string>
		<string>equal_equal.liga</string>
		<string>equal_equal_equal.liga</string>
		<string>equal_equal_greater.liga</string>
		<string>equal_greater.liga</string>
		<string>equal_greater_greater.liga</string>
		<string>equal_less_less.liga</string>
		<string>equal_slash_equal.liga</string>
		<string>greater_hyphen.liga</string>
		<string>greater_hyphen_greater.liga</string>
		<string>greater_bracketright.liga</string>
		<string>greater_colon.liga</string>
		<string>greater_equal.liga</string>
		<string>greater_equal_greater.liga</string>
		<string>greater_greater.liga</string>
		<string>greater_greater_hyphen.liga</string>
		<string>greater_greater_equal.liga</string>
		<string>greater_greater_greater.liga</string>
		<string>less_hyphen.liga</string>
		<string>less_hyphen_hyphen.liga</string>
		<string>less_hyphen_bar.liga</string>
		<string>less_hyphen_greater.liga</string>
		<string>less_hyphen_less.liga</string>
		<string>less_colon.liga</string>
		<string>less_exclam_hyphen_hyphen.liga</string>
		<string>less_asterisk.liga</string>
		<string>less_asterisk_greater.liga</string>
		<string>less_bar.liga</string>
		<string>less_bar_bar.liga</string>
		<string>less_bar_bar_bar.liga</string>
		<string>less_bar_greater.liga</string>
		<string>less_dollar.liga</string>
		<string>less_dollar_greater.liga</string>
		<string>less_numbersign_hyphen_hyphen.liga</string>
		<string>less_plus.liga</string>
		<string>less_plus_greater.liga</string>
		<string>less_equal.liga</string>
		<string>less_equal_bar.liga</string>
		<string>less_equal_equal.liga</string>
		<string>less_equal_equal_greater.liga</string>
		<string>less_equal_greater.liga</string>
		<string>less_equal_less.liga</string>
		<string>less_greater.liga</string>
		<string>less_less.liga</string>
		<string>less_less_hyphen.liga</string>
		<string>less_less_equal.liga</string>
		<string>less_less_less.liga</string>
		<string>less_asciitilde.liga</string>
		<string>less_asciitilde_greater.liga</string>
		<string>less_asciitilde_asciitilde.liga</string>
		<string>less_slash.liga</string>
		<string>less_slash_greater.liga</string>
		<string>asciitilde_hyphen.liga</string>
		<string>asciitilde_at.liga</string>
		<string>asciitilde_greater.liga</string>
		<string>asciitilde_asciitilde.liga</string>
		<string>asciitilde_asciitilde_greater.liga</string>
		<string>asciicircum_equal.liga</string>
		<string>uni0374</string>
		<string>uni02BC</string>
		<string>uni02BA</string>
		<string>uni02C9</string>
		<string>uni02B9</string>
		<string>hookabovecomb</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0325</string>
		<string>uni0326</string>
		<string>uni0336</string>
		<string>uni0338</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>hookabovecomb.case</string>
		<string>dieresis.case</string>
		<string>dotaccent.case</string>
		<string>grave.case</string>
		<string>acute.case</string>
		<string>hungarumlaut.case</string>
		<string>circumflex.case</string>
		<string>caron.case</string>
		<string>breve.case</string>
		<string>ring.case</string>
		<string>tilde.case</string>
		<string>macron.case</string>
		<string>uni0326.salt</string>
		<string>caron.salt</string>
		<string>NULL</string>
		<string>uni000A</string>
		<string>uniE0A0</string>
		<string>uniE0A1</string>
		<string>uniE0A2</string>
		<string>uniE0B0</string>
		<string>uniE0B1</string>
		<string>uniE0B2</string>
		<string>uniE0B3</string>
		<string>SPC</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>brevehookabove</string>
		<string>brevetilde</string>
		<string>circumflexacute</string>
		<string>circumflexgrave</string>
		<string>circumflexhookabove</string>
		<string>circumflextilde</string>
		<string>zero2.alt</string>
		<string>breveacute.case</string>
		<string>brevegrave.case</string>
		<string>brevehookabove.case</string>
		<string>brevetilde.case</string>
		<string>circumflexacute.case</string>
		<string>circumflexgrave.case</string>
		<string>circumflexhookabove.case</string>
		<string>circumflextilde.case</string>
	</array>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>IJ</string>
		<string>ij</string>
		<string>zero2.alt</string>
	</array>
</dict>
</plist>
