@font-face {
  font-family: 'JetBrainsMono-BoldItalic';
  src: url('JetBrainsMono-BoldItalic.eot');
  src: url('JetBrainsMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('JetBrainsMono-BoldItalic.svg#JetBrainsMono-BoldItalic') format('svg'),
       url('JetBrainsMono-BoldItalic.ttf') format('truetype'),
       url('JetBrainsMono-BoldItalic.woff') format('woff'),
       url('JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

