@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('JetBrainsMono-Regular.eot');
  src: url('JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
       url('JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg'),
       url('JetBrainsMono-Regular.ttf') format('truetype'),
       url('JetBrainsMono-Regular.woff') format('woff'),
       url('JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

