@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('JetBrainsMono-Bold.eot');
  src: url('JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),
       url('JetBrainsMono-Bold.svg#JetBrainsMono-Bold') format('svg'),
       url('JetBrainsMono-Bold.ttf') format('truetype'),
       url('JetBrainsMono-Bold.woff') format('woff'),
       url('JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

