<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dollar_greater.liga</key>
  <string>dollar_greater.liga.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>less_dollar.liga</key>
  <string>less_dollar.liga.glif</string>
  <key>less_dollar_greater.liga</key>
  <string>less_dollar_greater.liga.glif</string>
  <key>less_greater.liga</key>
  <string>less_greater.liga.glif</string>
  <key>less_slash.liga</key>
  <string>less_slash.liga.glif</string>
  <key>less_slash_greater.liga</key>
  <string>less_slash_greater.liga.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question_equal.liga</key>
  <string>question_equal.liga.glif</string>
  <key>slash_equal.liga</key>
  <string>slash_equal.liga.glif</string>
  <key>slash_equal_equal.liga</key>
  <string>slash_equal_equal.liga.glif</string>
  <key>slash_greater.liga</key>
  <string>slash_greater.liga.glif</string>
  <key>uni0424</key>
  <string>uni0424.glif</string>
  <key>uni0427</key>
  <string>uni0427.glif</string>
  <key>uni042F</key>
  <string>uni042F_.glif</string>
  <key>uni0436</key>
  <string>uni0436.glif</string>
  <key>uni043A</key>
  <string>uni043A_.glif</string>
  <key>uni043C</key>
  <string>uni043C_.glif</string>
  <key>uni0447</key>
  <string>uni0447.glif</string>
  <key>uni044E</key>
  <string>uni044E_.glif</string>
  <key>uni044F</key>
  <string>uni044F_.glif</string>
  <key>uni2573</key>
  <string>uni2573.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
