<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>ampersand_ampersand.liga</key>
  <string>ampersand_ampersand.liga.glif</string>
  <key>ampersand_ampersand_ampersand.liga</key>
  <string>ampersand_ampersand_ampersand.liga.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>asciicircum_equal.liga</key>
  <string>asciicircum_equal.liga.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>bar_braceright.liga</key>
  <string>bar_braceright.liga.glif</string>
  <key>bar_bracketright.liga</key>
  <string>bar_bracketright.liga.glif</string>
  <key>braceleft_bar.liga</key>
  <string>braceleft_bar.liga.glif</string>
  <key>bracketleft_bar.liga</key>
  <string>bracketleft_bar.liga.glif</string>
  <key>bracketright_numbersign.liga</key>
  <string>bracketright_numbersign.liga.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>dollar_greater.liga</key>
  <string>dollar_greater.liga.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>equal_equal.liga</key>
  <string>equal_equal.liga.glif</string>
  <key>equal_equal_greater.liga</key>
  <string>equal_equal_greater.liga.glif</string>
  <key>exclam_equal.liga</key>
  <string>exclam_equal.liga.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less_bar_greater.liga</key>
  <string>less_bar_greater.liga.glif</string>
  <key>less_dollar.liga</key>
  <string>less_dollar.liga.glif</string>
  <key>less_dollar_greater.liga</key>
  <string>less_dollar_greater.liga.glif</string>
  <key>less_slash_greater.liga</key>
  <string>less_slash_greater.liga.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>question_equal.liga</key>
  <string>question_equal.liga.glif</string>
  <key>slash_greater.liga</key>
  <string>slash_greater.liga.glif</string>
  <key>uni0409</key>
  <string>uni0409.glif</string>
  <key>uni0416</key>
  <string>uni0416.glif</string>
  <key>uni0417</key>
  <string>uni0417.glif</string>
  <key>uni0418</key>
  <string>uni0418.glif</string>
  <key>uni041B</key>
  <string>uni041B_.glif</string>
  <key>uni0424</key>
  <string>uni0424.glif</string>
  <key>uni0427</key>
  <string>uni0427.glif</string>
  <key>uni0429</key>
  <string>uni0429.glif</string>
  <key>uni042F</key>
  <string>uni042F_.glif</string>
  <key>uni0436</key>
  <string>uni0436.glif</string>
  <key>uni0438</key>
  <string>uni0438.glif</string>
  <key>uni043A</key>
  <string>uni043A_.glif</string>
  <key>uni043B</key>
  <string>uni043B_.glif</string>
  <key>uni043C</key>
  <string>uni043C_.glif</string>
  <key>uni0444</key>
  <string>uni0444.glif</string>
  <key>uni0447</key>
  <string>uni0447.glif</string>
  <key>uni0448</key>
  <string>uni0448.glif</string>
  <key>uni0449</key>
  <string>uni0449.glif</string>
  <key>uni044E</key>
  <string>uni044E_.glif</string>
  <key>uni044F</key>
  <string>uni044F_.glif</string>
  <key>uni0459</key>
  <string>uni0459.glif</string>
  <key>uni045A</key>
  <string>uni045A_.glif</string>
  <key>uni2116</key>
  <string>uni2116.glif</string>
  <key>uni2573</key>
  <string>uni2573.glif</string>
  <key>uniE0B0</key>
  <string>uniE_0B_0.glif</string>
  <key>uniE0B1</key>
  <string>uniE_0B_1.glif</string>
  <key>uniE0B2</key>
  <string>uniE_0B_2.glif</string>
  <key>uniE0B3</key>
  <string>uniE_0B_3.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
</dict>
</plist>
