<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>970</integer>
  <key>capHeight</key>
  <integer>720</integer>
  <key>copyright</key>
  <string>&#xa9; 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA.</string>
  <key>descender</key>
  <integer>-270</integer>
  <key>familyName</key>
  <string>JetBrains Mono</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <real>333.338</real>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>3125</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>BD Border</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>1065</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>BD Border</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>1065</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>800</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>600</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>280</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>Desc</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>-170</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>-240</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2020/04/29 10:53:34</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>900</integer>
  <key>openTypeHheaDescender</key>
  <integer>-245</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Philipp Nurullin, Konstantin Bulenkov</string>
  <key>openTypeNameLicense</key>
  <string>Licensed under the Apache License, Version 2.0</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://www.apache.org/licenses/LICENSE-2.0</string>
  <key>openTypeNameManufacturer</key>
  <string>JetBrains</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://www.jetbrains.com</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>JetBrains Mono</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.0.6</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>4</integer>
    <integer>7</integer>
    <integer>8</integer>
    <integer>30</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>11</integer>
    <integer>9</integer>
    <integer>9</integer>
    <integer>3</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>5</integer>
    <integer>0</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>325</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>45</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>75</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>350</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>970</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-270</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>5</integer>
    <integer>9</integer>
    <integer>29</integer>
    <integer>31</integer>
    <integer>32</integer>
    <integer>33</integer>
    <integer>38</integer>
    <integer>43</integer>
    <integer>44</integer>
    <integer>60</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>JB</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>970</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>270</integer>
  <key>postscriptBlueFuzz</key>
  <integer>0</integer>
  <key>postscriptBlueScale</key>
  <real>4.16667e-05</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-10</integer>
    <integer>0</integer>
    <integer>550</integer>
    <integer>560</integer>
    <integer>720</integer>
    <integer>730</integer>
    <integer>1065</integer>
    <integer>1065</integer>
    <integer>830</integer>
    <integer>845</integer>
  </array>
  <key>postscriptFamilyBlues</key>
  <array>
    <integer>-10</integer>
    <integer>0</integer>
    <integer>550</integer>
    <integer>560</integer>
    <integer>720</integer>
    <integer>730</integer>
    <integer>830</integer>
    <integer>845</integer>
    <integer>1065</integer>
    <integer>1065</integer>
  </array>
  <key>postscriptFamilyOtherBlues</key>
  <array>
    <integer>-270</integer>
    <integer>-270</integer>
    <integer>-170</integer>
    <integer>-170</integer>
    <integer>-125</integer>
    <integer>-110</integer>
  </array>
  <key>postscriptFontName</key>
  <string>JetBrainsMono-Regular</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>JetBrains Mono Regular</string>
  <key>postscriptIsFixedPitch</key>
  <true/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-170</integer>
    <integer>-170</integer>
    <integer>-270</integer>
    <integer>-270</integer>
    <integer>-125</integer>
    <integer>-110</integer>
  </array>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>80</integer>
    <integer>82</integer>
    <integer>60</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>90</integer>
    <integer>60</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-120</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>45</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>JetBrains Mono</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string>JetBrains Mono is a trademark of JetBrains s.r.o.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>550</integer>
</dict>
</plist>
