@font-face {
  font-family: 'JetBrainsMono-Medium';
  src: url('JetBrainsMono-Medium.eot');
  src: url('JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),
       url('JetBrainsMono-Medium.svg#JetBrainsMono-Medium') format('svg'),
       url('JetBrainsMono-Medium.ttf') format('truetype'),
       url('JetBrainsMono-Medium.woff') format('woff'),
       url('JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

